name: "Build and Deploy"
on:
  push:
    branches:
      - main
      - restore-12f3c10
    paths-ignore:
      - .gitignore
      - README.md
      - LICENSE

  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4  # Updated to v4
        with:
          fetch-depth: 0

      - name: Setup Pages
        id: pages
        uses: peaceiris/actions-gh-pages@v3  # No change

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3
          bundler-cache: true

      - name: Build site
        run: bundle exec jekyll b -d "_site${{ steps.pages.outputs.base_path }}"
        env:
          JEKYLL_ENV: "production"

      - name: Test site
        run: |
          bundle exec htmlproofer _site --disable-external --check-html --allow_hash_href

      - name: Upload site artifact
        uses: actions/upload-artifact@v2  # No change
        with:
          path: "_site${{ steps.pages.outputs.base_path }}"

  #deploy:
  # runs-on: ubuntu-latest
  #  needs: build
  #  steps:
  #    - name: Checkout
  #      uses: actions/checkout@v4
  #      with:
  #        ref: ${{ github.event.inputs.branch }} # Set the branch you want to deploy here
  #        fetch-depth: 0
  #        
  #    - name: Deploy to GitHub Pages
  #      uses: peaceiris/actions-gh-pages@v3
  #      with:
  #        deploy_key: ${{ secrets.DEPLOY_KEY }}
  #        publish_dir: ./_site        

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch }} # Set the branch you want to deploy here
          fetch-depth: 0
          
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_dir: ./_site

