name: Auto Push to GitHub Pages

on:
  push:
    paths:
      - '_posts/**'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Push to GitHub Pages
      run: |
        git config user.name "GitHub Actions"
        git config user.email "github-actions@example.com"
        git add .
        git commit -m "Auto push new posts"
        git push

